# Ignore everything
**

# Include the following
!client/**
!entrypoint.sh
!healthcheck.sh
!package-lock.json
!package.json
!postcss.config.js
!tailwind.config.js
!vite.config.js
!mcp-server/**
!server/**
